#reader-container > div > div > div {
  background-color: #fffacc !important;
  color: #1b1b1b !important;
}

#reader-container > div > div > div > div {
  position: absolute;
  inset: 50px 20px 20px !important;
}

.dark #reader-container > div > div > div {
  background-color: #1b1d1e !important;
  color: #d8d3c3 !important;
}

/* .dark #reader-container > div > div > div {
  background-color: #202124 !important;
  color: #f1f1f0 !important;
} */

#reader-container div a:hover,
#reader-container div a:hover p {
  color: inherit !important;
  text-decoration: underline !important;
}

#reader-container > div > div > button {
  display: none !important;
}
