#reader-container > div > div > div {
  background-color: #fffacc !important;
}

#reader-container > div > div > button {
  display: none !important;
}

.dark #reader-container > div > div > div {
  background-color: #1c1d21 !important;
}

#reader-container div a:hover {
  color: none !important;
}

#reader-container div a:hover p {
  color: none !important;
}
